<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid mb-2">
    <a class="navbar-brand" href="/">Postagem de Teses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categorias">Categorias</a>
        </li>
      {{#if user}}
        <li class="nav-item">
            <a class="nav-link" href="/usuarios/postagens">Minhas postagens</a>
          </li>
      </ul>
        <div class="navbar-nav float-right me-5">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-danger btn-sm" style="--bs-btn-padding-y: 0.05rem;">
              <a class="nav-link Disabled" href="/usuarios/logout" >Sair</a></button>
            </li>
              </div>
       {{else}}

            </ul>

          <div class="navbar-nav me-5 mt-2 mt-lg-0 float-sm-none float-md-none float-xl-right" style="display:flex; gap:5%;">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-secondary btn-sm" style="--bs-btn-padding-y: 0.05rem;">
              <a class="nav-link Disabled" href="/usuarios/login" >Login</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn mt-3 mt-lg-0 btn-outline-secondary btn-sm" style="--bs-btn-padding-y: 0.05rem;">
              <a class="nav-link Disabled" href="/usuarios/registro" >Registro</a></button>
            </li>
          </div>
        {{/if}}
        
    </div>
  </div>
</nav>
  {{#if user}}
<div class="container-fluid d-flex flex-column align-items-center flex-sm-row justify-content-between ">
  <div class="ms-sm-5 mb-3 mb-sm-0 mt-3 ">
    <a href="/addpostagem" class=""><button class="btn btn-success">Nova Postagem</button></a>
  </div>
  {{/if}}
  <div class="d-flex flex-column mt-sm-3 ">
<form class="me-3 pb-4 pb-sm-0 d-flex align-self-end" action="/Postagens/resultados" method="GET">
  <div class="btn-group top-0 end-0" role="group">
    <input type="text" class="form-control rounded-0" name="pesquisa" />
    <input type="submit" value="Pesquisar" class="btn btn-primary"/>
  </div>
</form>
</div>
  {{#if user}}
</div>
{{/if}}